/* This CSS is common to all pages */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #151313;
  --color-cover: #151313;
  color-scheme: light dark;
  background-color: #151313;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 2rem;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
